.header{
  max-height: 700px;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
}

.nav{
  position: relative;
  padding-top: 46px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 470px) {
    justify-content: center;
  }
  &__logo{
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: $white;
  }
  &__list{
    opacity: 1;
    transition: opacity 0.3s ease-in;
    display: flex;
    align-items: center;
    @media screen and (max-width: 470px) {
      margin-bottom: 80px;
    }
  }
  &__item{
    margin-left: 26px;

    &-link{
      font-size: 1rem;
      color: $white;
      transition: all 0.1s ease-in;
      &.link-border{
        padding: 9px 20px;
        border: solid 2px $white;
        border-radius: $radius;
        color: $white;
        transition: all 0.1s ease-in;
        &:hover{
          border: solid 2px $pink;
        }
      }
      &:hover{
        color: $pink;
      }
    }
  }
}