.info{
  &__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 800px){
      flex-direction: column;
      align-items: center;
    }

  }

}
.card{
  position: relative;
  max-width: 300px;
  height: 400px;
  @media screen and (max-width: 960px) {
    max-width: 280px;
    height: 100%;
  }
  @media screen and (max-width: 900px){
    max-width: 260px;
  }
  @media screen and (max-width: 842px){
    max-width: 240px;
  }
  @media screen and (max-width: 800px){
    min-width: 500px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 540px){
    min-width: 400px;
  }
  @media screen and (max-width: 440px){
    min-width: 340px;
    height: 80%;
  }

  &__image{
    object-fit: cover;
    border-radius: 8px;
    @media screen and (max-width: 960px){
      height: 400px;
    }
    @media screen and (max-width: 800px){
      max-height: 240px;
      width: 500px;
    }
    @media screen and (max-width: 540px){
      width: 400px;
    }
    @media screen and (max-width: 440px){
      width: 340px;
      max-height: 180px;
    }
  }
  &__item{
    position: absolute;
    bottom: 8%;
    padding: 0 20px;

    &-step{
      display: inline-block;
      margin-bottom: 20px;
      padding: 4px 12px;
      background-color: $pink;
      border-radius: $pink;
      color: $white;
      font-size: 0.8rem;
      font-weight: 500;
    }
    &-title{
      margin-bottom: 12px;
      font-size: 1.2rem;
      font-weight: 500;
      color: $white;
    }
    &-desc{
      font-size: 1rem;
      font-weight: 400;
      color: $white;
    }
  }
}