@import "reset";
@import "fonts";
@import "base";
@import "variables";
@import "parts/header";
@import "parts/info";
@import "parts/intro";
@import "parts/peoples";
@import "parts/activity";
@import "parts/search";
@import "parts/footer";
